# Lokale ROS2 & Build Artefakte (Verhindert Cache-Invalidierung durch lokale Builds)
build/
install/
log/
.colcon/
**/__pycache__/

# Python Zeug
*.py[cod]
*$py.class
*.so
.eggs/
*.egg-info/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
