# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
venv/
.env
.venv/
.venv311/
venv311/

# Jupyter / VSCode
.ipynb_checkpoints/
.vscode/

# YOLO / Machine Learning
runs/
*.pt
*.pth
*.onnx
*.log

# System
.DS_Store
Thumbs.db

#Datasets
dataset_banane_apfel_orange/

runs/

build/

backgrounds/outside_context/*
backgrounds/target_context/*
object_images/objects_only/*
object_images/use_like_is/*
object_images/*.yaml
object_images/*.txt

object_images_task2/*
object_images_task3/*

dataset/*

dataset_task2/*
dataset_task3/*


debug_images/